@import 'base';
@import 'bootstrap';

body {
  background-color: #f8f8ff; color: #333;
  font-size: 12px;
  color: #333;
  width: 90%;
  margin-left: 5%;
}

#notice {
  color: green;
}

.field_with_errors {
  background: #fae5e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2px;
  display: table;
  label {
    color: #9d261d;
  }
  input[type=text], input[type=password], textarea {
    border-color: #c87872;
    -webkit-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
    -moz-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
    box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
  }
  input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border-color: #b9554d;
    -webkit-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
    -moz-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
    box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
  }
}

#error_explanation {
  width: 450px;
  @extend .block-message;
  @extend .error;
}

#error_explanation h2 {
  font-size: 16px;
  margin-left: 9px;
}

div.table {
  text-align: left;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #eff;
}

#paginate {
  text-align: center;
  font-size: 12px;
  background-color: #eff;
}

.ui-widget-footer {
  border: 1px solid #a6c9e2;
  border-top: none;
  padding: 3px;
  font-weight: normal;
  font-size: 10px;
  background-color: #edf1f3;
}

.ui-widget  {
  form {
    margin: 20px;
  }
  .ui-widget-content {
    .slick-top-panel {
      height: 35px;
    }
  }
}

.grid-widget {
  margin: 25px 0;
}

.back {
  margin-top: 15px;
}

fieldset.ui-widget {
  border: none;
}
.half {
  width: 50%;
}
.clear {
  clear: both;
}
.required:before {
  content: "*";
  margin-right: 2px;
  color: #8b0000;
}
.anchor {
  text-decoration: none;
  color: #004b64;
  border-bottom: 1px dotted #004b64;
  &:visited { color: #2c4461; }
  &:hover {
    color: #222;
  }
}
